/* Reset (filtered for markdown) */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, img, s, b, u, i, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, details, footer, header, section, summary { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
body { line-height: 1; }
blockquote { quotes: none; }
blockquote::before, blockquote::after { content: none; }

/* Properties */
:root {
	--color-link: #3367d6;
	--color-link-v: #b0b;
	--color-subtle-bg: #fafafa;
	--color-subtle-line: #ccc;
	--color-subtle-text: #767676; /* >4.5:1 contrast */
	--color-details-summary-hover: #ffdeba;
	--fade: 0.2s linear;
}

/* Standard elements */
html { scroll-behavior: smooth; }
body { font-family: "Segoe UI", sans-serif; margin: 0; }
main { line-height: 1.5; margin: auto; max-width: 50rem; padding: 2rem; }
p { margin: 1em 0; }
h1, h2 { font-weight: normal; }
h1 {  font-size: 2em; margin-bottom: 0.25em; }
h2 {  font-size: 1.4em;  margin: 0.5em 0; }
h2:not(h1 + h2) { border-top: 1px solid var(--color-subtle-line); margin-top: 1.5em; padding-top: 0.7em; }
img { display: block; margin: 1em auto; }

/* Hyperlinks */
a { color: var(--color-link); text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: var(--color-link-v); }

table { border-collapse: collapse; margin: 1em auto; }
tbody tr:nth-child(even) { background-color: var(--color-subtle-bg); }
th, td { border: 1px solid #dedede; padding: 0.5em; }
th { background-color: #f0f0f0; font-weight: bold; }
ul { list-style: inside disc; padding-left: 0; }
li { margin-left: 1em; text-indent: 1em hanging; }
code { font-family: Consolas, monospace; font-size: 0.9em; }

/* Furniture blocks (frontmatter and footer): deemphasize these to keep focus on content */
.subtle, .subtle a, subtle a:visited { color: var(--color-subtle-text); font-size: 0.9rem; }

/* Header banner */
header { 
	height: 100px; display: flex; align-items: center; justify-content: right; position: relative;
	background-color: #6982AB; background-image: url("/blog/header-hero.webp"), url("/blog/header-repeat.webp"); background-repeat: no-repeat, repeat-x; 
}
header a { 
	display: block; width: 200px; font-size: 22px; margin: 0 22px 0 110px; text-align: right; 
	text-shadow: 0 0 7px black, 0 0 7px black, 0 0 7px black, 0 0 7px black; 
	text-transform: lowercase;
}
header a, header a:visited { color:white; } /* don't make this a property, it won't change in dark mode */
header #yakmask { 
	display:block; position: absolute; left: 0; top: 0; min-width:128px; height: 100px; z-index: 1; margin: 0; 
	cursor: image-set(url("/blog/razor.webp") 1x, url("/blog/razor-2x.webp") 2x), auto; /* just amusing myself */
}

/* Footer */
footer nav { 
	display: flex; justify-content: space-between; gap: 2em; flex-wrap: wrap; width: 100%; 
	border: solid var(--color-subtle-line); border-width: 1px 0; margin: 3em 0 2em 0; padding: 0.7em 0 0.7em 0;
	text-transform: lowercase;
	font-size: 0.9rem; 
}

/* Details shortcode (sub-yak) */
details { border: 1px solid var(--color-subtle-line); border-radius: 0.3em; font-size: small; margin: 1em 0; overflow: clip; }
details > * { padding: 0.6em 1em; }
details > summary { background-color: var(--color-subtle-bg); transition: background-color var(--fade); cursor: zoom-in; }
details > summary:hover { background-color: var(--color-details-summary-hover); }
details > summary > p { display: inline; margin:0; padding: 0; }
details:open > summary { border-bottom: 1px solid var(--color-subtle-line); cursor: zoom-out; }
details > p { margin: 0; opacity: 0; } /* this is added by the markdown filter */
details:open > p { opacity: 1; transition: opacity var(--fade); }

/* Inline code */
code:not(pre code) { background-color: var(--color-subtle-bg); border: 1px solid #ddd; border-radius: 0.3em; padding: 0 0.1em; }

/* Syntax-highlighted code blocks */
pre { border: 1px solid var(--color-subtle-line); border-radius: 0.3em; padding: 0.6em 1em; }
pre code { display: block; overflow-x: auto; -webkit-overflow-scrolling: touch; padding: 0; }

pre[data-name="invalid"] code::before { 
	content: "Invalid code!";
	background-color: #d00; color: white; font-family: sans-serif; font-weight: bold; line-height: 1;
	border: 2px solid white; border-radius: 0.3em; padding: 0.3em 0.5em;
}
@media (any-hover: hover) { /* show warning as overlay, hide on mouseover */
	pre[data-name="invalid"] { position: relative; }
	pre[data-name="invalid"] code::before { 
		display: inline-block; margin: 0.5em; position: absolute; right: 0; top: 0; 
		opacity: 1; transition: opacity var(--fade); 
	}
	pre[data-name="invalid"]:hover code::before {
		opacity: 0;
	}
}
@media (any-hover: none) { /* don't obscure what's probably already a narrow view */
	pre[data-name="invalid"] code::before {
		display: block; margin: 0;
	}
}

/* Link targets for h1, h2 etc */
a.zola-anchor {  color: inherit; display: inline-block; position: relative; text-decoration: none /* even for prefers-contrast:more since this isn't a "real" link */; }
a.zola-anchor::before { content: "§"; position: absolute; left: -0.8em; opacity: 0; transition: opacity var(--fade); }
a.zola-anchor:hover::before { opacity: 1; }

/* Meta information shown under the post title */
p.frontmatter { margin: 0 0 1.5em 0; }
p.frontmatter a { text-decoration: underline /* it's mixed with non-link text in the same colour */; }

/* Accessibility accommodations */
@media (prefers-contrast: more) { /* replace with no-preference to test */
	:root {
		--color-subtle-line: grey;
		--color-subtle-text: black;
	}
	a { text-decoration: underline; } /* note that a.zola-anchor is a deliberate exception */
}