{% if page -%}
  {%- set title = page.title -%}
  {%- set desc = page.description -%}
{% elif section %}
  {%- set title = section.title -%}
  {%- set desc = section.description -%}
{% elif term -%}
  {%- set title = taxonomy.name ~ "/" ~ term.name -%}
  {%- set desc = "A list of posts tagged with '" ~ term.name ~ "'" -%}
  {%- if taxonomy.name == "tags" and config.extra.tag_doodles is containing(term.name) -%}
    {%- set yakmask = "tags-" ~ term.name -%}
  {%- endif -%}
{% elif taxonomy -%}
  {%- set title = taxonomy.name -%}
  {%- set desc = "A list of terms for the '" ~ taxonomy.name ~ "' taxonomy" -%}
{% elif not current_path -%}
  {%- set title = "404 not found" -%}
  {%- set desc = "It's a 404 response, you shouldn't be indexing it, silly crawler" -%}
  {%- set yakmask = "error-404" -%}
{% else -%}
  {# don't set anything - we want to break at build time #}
{% endif -%}
<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{config.author}}">
  <meta name="description" content="{{ desc }}">
  <title>{{ title }} | {{ config.title }}</title>
  <link rel="stylesheet" href="{{ get_url(path='/blog/blog.css') }}">
  <link rel="icon" href="{{ get_url(path='/blog/favicon.svg') }}" sizes="any" type="image/svg+xml">
  {% block rss -%}
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path='/blog/atom.xml', trailing_slash=false) }}">
  {%- endblock -%}
</head>
<body>
  <header>
    {% if yakmask -%}
      <img id="yakmask" alt="" src="/blog/doodleyaks/{{ yakmask }}.webp"/>
    {%- else -%}
      <div id="yakmask"></div>
    {%- endif %}
    <a href="{{ get_url(path='/blog/') }}">Never Knowingly Undershaved</a>
  </header>
  <main>
    <h1>{{ title }}</h1>
    {% block content %} {% endblock content %}
  <footer class="subtle">
    <nav aria-label="Footer">
      <a href="{{ get_url(path='/blog/about') }}">about</a>
      <a href="{{ get_url(path='/blog') }}">archive</a>
      <a href="mailto:mike.capp@gmail.com">email</a>
      <a href="{{ get_url(path='/blog/atom.xml') }}">feed</a>
      <a href="https://github.com/mrec/mrec.github.io/">repo</a>
    </nav>
  </footer>
  </main>
</body>

</html>