<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{config.author}}">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ get_url(path='/blog/blog.css') }}">
  <link rel="icon" href="data:,">
</head>

<body{% block body_attrs %}{% endblock body_attrs %}>
  <header>
    <a href="{{ get_url(path='/blog/') }}">Never Knowingly Undershaved</a>
  </header>
  <main>
    {% block content %} {% endblock content %}
  <footer>
    <a href="{{ get_url(path='/blog/about') }}">about</a>
    <a href="{{ get_url(path='/blog') }}">archive</a>
    <a href="mailto:mike.capp@gmail.com">email</a>
    <a title="TODO">feed</a>
    <a href="https://github.com/mrec/mrec.github.io/">repo</a>
  </footer>
  </main>
</body>

</html>