{% extends "base.html" %}

{% block title %}
{% set section = get_section(path=page.ancestors | last, metadata_only=true) %}
{{page.title}} | {{ section.title }}
{% endblock title %}

{% block content %}
  <h1>{{ page.title }}</h1>
  <p class="frontmatter subtle">
    {{ page.date }}
    {% if page.taxonomies %} | tags:
      {% for tag in page.taxonomies["tags"] %}
        {%- if not loop.first -%},{% endif %}
        <a href="{{ get_url(path='/tags') }}/{{ tag }}">{{ tag }}</a>
      {%- endfor %}
    {% endif %}
    {% if page.extra.comment %} | {{ page.extra.comment }}{% endif %}
  </p>
  {{ page.content | safe }}
{% endblock content %}